.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3f51b5;
    padding: 15px;
  }
  .home-container {
    padding: 20px;
    background-image: url('https://img.freepik.com/free-vector/hand-drawn-flat-design-crm-infographic_23-2149383346.jpg?size=626&ext=jpg'); /* Specify the path to your image */
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    font-family: 'Arial', sans-serif;
  }
  .nav-logo h2 {
    color: rgb(219, 126, 126);
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    color: rgb(17, 1, 1);
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
  }
  
  .nav-links a:hover {
    background-color: #2d74da;
    border-radius: 5px;
  }
  
  .active-link {
    background-color: #1e40af;
    border-radius: 5px;
  }
  /*navbar.css*/